{% comment %}
  Renders a collapsible accordion component.

  Accepts:
    - title: {string} Collapsible title (required)
    - content: {string} Content inside accordion (required)
    - class: {string} Extra custom class (optional)

  Usage:
    {% render 'accordion', title: 'New Title', content: 'Some Content' %}
{% endcomment %}

{% if title and title != empty %}
  {% liquid
    assign class = 'cursor-pointer border-b w-full ' | append: class
  %}

  <details
    class="{{ class }}">
    <summary class="flex flex-1 items-center justify-between py-4 font-sans font-semibold transition-transform [details[open]_&>svg]:rotate-180 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-foreground/50 focus-visible:ring-offset-2">
      {{ title }}
      <svg
        class="size-4 transition-transform text-black"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path d="m6 9 6 6 6-6"/>
      </svg>
    </summary>
    {% if content %}
      <div class="pb-4" role="region">
        {{ content }}
      </div>
    {% endif %}
  </details>
{% endif %}
